<div class="navbar-container">
  <div class="actions-container">
    <div><img class="logo-img" src="./assets/morelo.svg" /></div>
    <div>
      <a mat-button routerLink="/dashboard">Dashboard de modelo</a>
      <a mat-button routerLink="/prediccion">Predicción</a>
      <a mat-button routerLink="/prediccion/confirmacion">Confirmación de Predicción</a>
      <a mat-button routerLink="/prediccion/indicadores">Indicadores de Predicción</a>
    </div>
    <a mat-button (click)="logout()">Cerrar sesión</a>
  </div>
</div>
