:host {
  padding: 40px;
  display: block;
}
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-width: 700px;
}
.row {
  display: flex;
}

.title {
  width: 100%;
  text-align: center;
}
.cell {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 50%;
}

.cell-2 {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 25%;
}
