<p>{{ userName }}</p>

<div class="table-container">
  <div class="table mat-elevation-z4">
    <div class="row">
      <div class="title">
        Estado respecto a la predicción de hurtos según el estandar de
        referencia
      </div>
    </div>
    <div class="row">
      <div class="cell">Resultados de la prueba de estudios</div>
      <div class="cell-2">Hurto</div>
      <div class="cell-2">No Hurto</div>
    </div>
    <div class="row">
      <div class="cell">Positivo</div>
      <div class="cell-2">
        <p>Verdadero Positivo</p>
        <p>XX</p>
      </div>
      <div class="cell-2">
        <p>Falso Positivo</p>
        <p>YY</p>
      </div>
    </div>
    <div class="row">
      <div class="cell">Negativo</div>
      <div class="cell-2">
        <p>Falso Negativo</p>
        <p>XX</p>
      </div>
      <div class="cell-2">
        <p>Verdadero Negativo</p>
        <p>YY</p>
      </div>
    </div>
  </div>
</div>
